body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  background-size: cover;
}

.container {
  max-width: 500px;
  margin: 70px auto;
  padding: 20px;
  border-radius: 17px;
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

form {
  padding: 7px 0px;
}
.city-input {
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ebfafb;
  color: rgb(146, 146, 146);
}

.submit-button {
  width: 20%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #fbeffa;
  color: rgb(146, 146, 146);
}
.current-city-data {
  display: flex;
  justify-content: space-between;
}

.temp-info strong {
  color: #ed9be6;
  font-weight: 500;
}

.current-city-temperature {
  display: flex;
}
.current-city-data h1 {
  font-size: 45px;
  position: relative;
  top: -35px;
}
.temp-info {
  position: relative;
  top: 35px;
  left: -160px;
}

.current-city-temperature-icon {
  height: 70px;
}
.current-city-temperature-temp {
  font-size: 60px;
  font-weight: 400;
  line-height: 63px;
}
.current-city-temperature-unit {
  font-size: 23px;
  position: relative;
  top: 3px;
}

.days {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 30px;
}

footer {
  text-align: center;
  padding-top: 20px;
  border-top: rgb(237, 155, 230, 0.3) solid 1px;
}
footer a {
  color: #ed9be6;
}
